{
    "extends": "airbnb",
    "env":{
        "browser": true
    },
    "rules": {
        //  I encourage you to keep this enabled in your own application
        "import/extensions": [ "error", "always", { "ignorePackages": true } ],
        "react/prop-types": "off"
    }
}